 /* thanh tieu de */
 .nav{
    width: 100%;
    height: 70px    ;
    background-image: linear-gradient(0,rgba(255,255,0, 0.5), rgba(0,0,255, 0.55) );
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content:center;
    position :fixed;
    z-index: 1; 
}
.top{
    width: 100%;
    height: 70px    ;
    float: left;
}
.nav-list{
    padding-left: 0;
    margin: auto;
}
.nav-item{
    color:rgb(196, 14, 14);
    list-style: none;
    margin: 0 15px;
    display:inline-block;
    font-size: 30px;
    
}
.nav-item>img{
    width: auto;
    height: 60px;
}
.img{
     width: 100%;
    height: 500px; 
    padding-bottom: 25%; 
}

.nav-item:nth-child(2) {
    position: relative;
}

.nav-item:nth-child(2):hover .nav-dow{
    display: block;
}

.nav-dow {
    display: none;
    position: absolute;
    /* background-color: gray; */
    width: 150px;
    left: 0;
    top: 32px;
    padding: 0;
    
}

.nav-dow li {
    list-style: none;
    text-align: center;
    background-color: rgb(200, 231, 231);
    width: 100%;
    border: 1px solid gray;
    border-radius: 15px;
    overflow: hidden;
    
}

/* tin tức */
.tin{
    width: 90%;
    margin: 0 auto;
    min-height: 600px;
    background-image: linear-gradient(0,rgba(255,255,0, 0.5), rgba(0,0,255, 0.55) );
    background-size: 100%;
    padding: 20px;
}
.tin1{
    width: calc(50% - 10px);
    float: left;
    min-height: 580px;

}
.tin3{
    width:  calc(50% - 10px);
    float: left;
    height:  calc(50% - 10px);

}
.mr{
    margin-right: 20px;
}
.mb{
    margin-bottom: 20px;
}
img{
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
.tin3 img{
    height: 190px;
}
a{
    color: #333;
    text-decoration: none;

}
a:hover{
    color: rgb(13, 94, 243);
}
.tin1>a{
    font-size: 28px;
}
/* vung dat */
.liyue{
  
    width: 90%;
    height: 250px;
    position: relative;
    margin: 20px auto;

}
.liyue img {
    height: 100%;
}
.aaa{
    width: 100%;
    position: absolute ;
    left: 0px;
    top: 0px;
    text-align: center;
}
.liyue-font{
    
    font-size: 40px;
    font: weight 700px ;
    margin: auto;
    color: white;
}
/* duoi trang */
footer{
    border-top: 5px double orangered ;
    line-height: 50px;
    background-color: rgb(203, 231, 77);
    text-align: center;
    font-variant: small-caps;
    clear: both;
}  
/* trang nhan vaat */
article{
    width: 90%;
    margin: 0 auto;
}
.nhanvat {
    width: 100%;
    height: 300px;
    background-image: linear-gradient(0,rgba(59, 59, 56, 0.5), rgba(212, 212, 243, 0.55) );
    
    float: left;
}
.tieude-nv {
    width: 100%;
    height: 15%;
}
.tieude-nv img {
    height: 100%;
    width: 40px;
}
.tieude-nv h3 {
    font-size: 32px;
}
.anh-nv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 85%;
    width: 100%;
}
.anh-nv a {
    
    height: 100%;
    width: 18%;

}
.anh-nv img {
    width: 100%;
    height: 90%;
    border-radius: 90%;
}
.anh-nv span {
    height: 10%;
    font-size: 20px;
    text-align: center;
}
.video {
    /* position: relative; */
    /* padding-bottom: 56%;
    padding-top: 30px; */
    width: 100%;
    height: 600px;
    overflow: hidden;
    

    

}
.video iframe {
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    border: none;
    
}
/* vu khi */
.vukhi {
    margin: 5px auto 5px auto;
    padding: 5px 0;
    width: 90%;
    height: 300px;
    display: flex;
    background-image: linear-gradient(0,rgba(236, 236, 221, 0.5), rgba(65, 65, 109, 0.55) );

}

.tt-vk{
    display: flex;
    /* flex-direction: column;
    align-items:baseline; */
    justify-content:left;
    height: 100%;
    width: 100%;
}
.anh-vk {
    width: 30%;
}
.anh-vk a {
    flex-direction: column;
    height: 100%;
    width: 30%;
    flex: 1;
}
.anh-vk img {
    width: 100%;
    height: 90%;
}
.chiso {
    margin-left: 20px;
    width: 70%;
    height: 100%;
    /* background-image: linear-gradient(0,rgba(255,255,0, 0.5), rgba(0,0,255, 0.55) ); */

}
.chiso h2 {
    font-size: 40px;
    color:rgb(68, 130, 133);
}
.chiso hr {
    width: 100%;
    height: 5px;
    
}
.chiso p {
    font-size: 20px;
    font-style: italic;
}
.abc{
    height: 70px;
}
/* đăng kí */
form {
   width: 90%;
    margin: 0 auto;
}
.modal {
    width: 980px;
    margin: 0 auto;
    /* background-color: rgb(172, 41, 41); */
    background-image: linear-gradient(0,rgba(255, 255, 210, 0.5), rgba(2, 2, 15, 0.55) ); 
    
}
.auth-forn {
    /* width: 600px; */
    height: 500px;
    /* background-image: linear-gradient(0,rgba(126, 126, 81, 0.5), rgba(0,0,255, 0.55) );  */

}
.auth-forn-container {
    padding: 0 32px;
}
.auth-forn-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.auth-forn-heading {
    font-size: 30px;
    font-weight: 400;
    color: rgb(56, 52, 52);
}
.auth-form-group {
    margin: 10px;
    overflow: hidden;
}
.auth-forn-switch-btn {
    font-size: 30px;
    font-weight: 500;
    color: rgb(189, 72, 72);
    cursor: pointer;
}
.auth-forn-input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 15px;
    border: 1px solid rgb(211, 184, 238);
    font-style: italic;
}
.auth-forn-input:focus {
    border-color:  #888;
}
.auth-forn-aside{
     margin-top: 20px;


}
.auth-forn-controls{
    margin: 20px 32px;
    float: right;
}
.auth-forn-policy-text{
    font-size: 20px;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}
.auth-forn-policy-link{
    color: rgb(25, 134, 80);
    text-decoration: none;
}
.btn {
    min-width: 142px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    
    margin: 10px;
    
}
.btn.btn-dk {
    color: white;
    background-color: orangered;

}
.auth-forn-socials{
    display: flex;
    align-items: center;
    justify-content: space-around;
}